<th:block th:include ="admin/Admin_header.html"/>
<div class="section">
    <section>
        <div class="main_container">
            <div class="main_top"><span>관리자 메인</span></div>
            <div class="status_table">
                <div class="tbname">
                    <span>상품현황</span>
                    <span><a th:href="@{/admin/ProductList}">더보기</a></span>
                </div>
                <table class="product">
                    <thead>
                    <tr>
                        <th>상품번호</th>
                        <th>상품명</th>
                        <th>구분</th>
                        <th>가격</th>
                        <th>재고</th>
                        <th>등록일</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:if="${products ==null }">
                        <td colspan="7" style="width: 100%;">등록된 상품이 없습니다.</td>
                    </tr>
                    <tr th:each="product:${products}" th:if="product != null">
                        <td>${product.pNo }</td>
                        <td>${product.pName }</td>
                        <td>${product.prodCateNo }</td>
                        <td>${product.price }</td>
                        <td>${product.stock }</td>
                        <td>${product.rdate }</td>
                    </tr>

                    </tbody>

                </table>
            </div>
            <div class="status_table">
                <div class="tbname">
                    <span>주문현황</span>
                    <span><a th:href="@{/admin/OrderList}">더보기</a></span>
                </div>
                <table class="order">
                    <thead>
                    <tr>
                        <th>주문번호</th>
                        <th>상품명</th>
                        <th>판매가격</th>
                        <th>수량</th>
                        <th>배송비</th>
                        <th>합계</th>
                        <th>주문자</th>
                        <th>주문일</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:if="${orderitems == null }">
                        <td colspan="9" style="width: 100%;">등록된 주문이 없습니다.</td>
                    </tr>
                    <tr th:each="orderitem:${orderitems}" th:if="orderitem != null">
                        <td>${orderitem.OrderNo }</td>
                        <td>${orderitem.pName }</td>
                        <td>${orderitem.itemPrice }</td>
                        <td>${orderitem.itemQty }</td>
                        <td>${orderitem.o_delivery }</td>
                        <td>${orderitem.OrderItemTotal }</td>
                        <td>${orderitem.name }</td>
                        <td>${orderitem.rdate }</td>
                    </tr>
                    <!--                                        </c:forEach>-->
                    </tbody>
                </table>
            </div>
            <div class="status_table">
                <div class="tbname">
                    <span>회원현황</span>
                    <span><a th:href="@{/admin/UserList}">더보기</a></span>
                </div>
                <table class="customer">
                    <thead>
                    <tr>
                        <th>회원아이디</th>
                        <th>이름</th>
                        <th>닉네임</th>
                        <th>휴대폰</th>
                        <th>이메일</th>
                        <th>등급 </th>
                        <th>회원가입일</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:if="${userDto == null}">
                        <td colspan="8" style="width: 100%;">등록된 회원이 없습니다.</td>
                    </tr>
                    <tr th:each="userDto:${userDto}" th:if="userDto!=null">
                        <td>${userDto.uid}</td>
                        <td>${userDto.name}</td>
                        <td>${userDto.nick}</td>
                        <td>${userDto.email}</td>
                        <td>${userDto.hp}</td>
                        <td>${userDto.gradeNo }</td>
                        <td>${userDto.regDate}</td>
                    </tr>
                    <!--                                      </c:forEach>-->
                    </tbody>
                </table>
            </div>
        </div><!--main-container-->
    </section><!-- section end-->
</div><!-- .section end-->

</div><!--mainIn-->
</main><!--main end-->

<th:block th:include ="admin/Admin_footer.html"/>

</div> <!--wrapper end-->
</body>
</html>