<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="sssashortcut icon" th:href="@{/images/fav.ico}" type="image/x-icon">
    <link rel="stylesheet" th:href="@{/css/style_admin.css}">
    <link rel="stylesheet" th:href="@{/css/style_prodReg.css}">
    <title>Administrator</title>

</head>
<body>
<!-- wrapper -->
<div id="wrapper">
    <header>
        <div class="headerIn">
            <div class="top">
                <img th:src="@{/images/admin/admin_logo.jpg}" alt="">
            </div>
            <div class="utill">
                <ul>
                    <li><a th:href="@{/admin/AdminIndex}" class="util_home">HOME</a></li>
                    <li><a th:href="@{index}" class="util_logout">로그아웃</a></li>
                    <li><a th:href="@{/community/notice/list.do?group=community&cate=b104}" class="util_cs">고객센터</a></li>
                </ul>
            </div>
        </div><!--headerIn end-->
    </header><!--header end-->

    <main>
        <div class="mainIn">
            <div class="aside">
                <aside>
                    <div class="sub_title">
                        <span>주요기능</span>
                    </div>
                    <div class="adm_list">
                        <ul>
                            <li>상품관리
                                <ul>
                                    <li><a th:href="@{/admin/ProductList}">상품목록</a></li>
                                    <li><a th:href="@{/admin/ProductRegister}">상품등록</a></li>
                                </ul>
                            </li>

                            <li>주문관리
                                <ul>
                                    <li><a th:href="@{/admin/OrderList}">주문목록</a></li>
                                </ul>
                            </li>
                            <li>회원관리
                                <ul>
                                    <li><a th:href="@{/admin/UserList}">회원목록</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </aside> <!-- aside end-->

            </div><!-- .aside end-->

