<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>이벤트</title>
    <link rel="sssashortcut icon" href="/images/fav.ico" type="image/x-icon">
    <link rel="stylesheet" th:href="@{/css/event.css}">
    <script src='https://cdn.jsdelivr.net/npm/fullcalendar@5.11.0/main.min.js'></script>
    <link rel='stylesheet' href='https://cdn.jsdelivr.net/npm/fullcalendar@5.11.0/main.min.css' />
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var calendarEl = document.getElementById('calendar');

            var calendar = new FullCalendar.Calendar(calendarEl, {
                initialView: 'dayGridMonth',  // 월간 뷰
                selectable: true,
                dayMaxEventRows: true,
                googleCalendarApiKey: 'AIzaSyBuZSoGqnsiPkvHBCRjqV8FOQ7O_3OXS4s',  // Google API 키

                eventSources: [
                    {
                        googleCalendarId: 'ko.south_korea#holiday@group.v.calendar.google.com',  // 대한민국 공휴일 캘린더
                        className: 'korea',  // 스타일 지정
                        color: '#e70000',  // 이벤트 색상
                        textColor: 'black'  // 텍스트 색상
                    },
                    {
                        googleCalendarId: '689703ab7777f007cee66cfa6434061bb5f6eab9b05bbbf4a465010c41e6c7b1@group.calendar.google.com',  // 팜스토리
                        className: 'farmstory',  // 스타일 지정
                        color: '#3fb193',  // 이벤트 색상
                        textColor: 'black'  // 텍스트 색상
                    },

                ]
            });

            calendar.render();
        });


                // right: 'dayGridMonth,timeGridWeek,timeGridDay'
                //클릭 이벤트들
                // dateClick: function(info) {
                //     alert('clicked ' + info.dateStr);
                // },
                // select: function(info) {
                //     alert('selected ' + info.startStr + ' to ' + info.endStr);
                // }

    </script>
    <!-- 화면당 적용할 CSS만 추가하면됨 -->
</head>
<body>
<div id="wrapper">
    <th:block th:include ="/grid/_header.html"/>
    <th:block th:include ="/grid/_aside_et.html"/>
<title>글목록</title>
<link rel="stylesheet" href="../css/event.css">
  						<div id="container">
                            <section class="calendar">
                                <div id='calendar'></div>

                            </section>
                         </div>
                    </div><!-- .articleIn -->
                </article><!-- .article -->
            </section>
        </main><!-- #main -->
    <th:block th:include ="/grid/_footer.html"/>
</body>
