
<th:block th:include="user/User_myinfo_header.html"/>
    <title>MyInfo</title>
<script src="https://t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
<script th:src="@{/js/postcode.js}"></script>
<script th:src="@{/js/utils.js}"></script>

<script th:inline="javascript">
	const rePass = /^(?=.*[a-zA-z])(?=.*[0-9])(?=.*[$`~!@$!%*#^?&\\(\\)\-_=+]).{5,16}$/;
	const reName = /^[가-힣]{2,10}$/
	const reNick = /^[a-zA-Zㄱ-힣0-9][a-zA-Zㄱ-힣0-9]*$/;
	const reEmail = /^[0-9a-zA-Z]([-_\.]?[0-9a-zA-Z])*@[0-9a-zA-Z]([-_\.]?[0-9a-zA-Z])*\.[a-zA-Z]{2,3}$/i;
	const reHp = /^01(?:0|1|[6-9])-(?:\d{4})-\d{4}$/;

	// 유효성 검사에 사용할 상태변수
	let isPassOk = false;
	let isNameOk = false;
	let isNickOk = false;
	let isEmailOk = false;
	let isHpOk = false;

	window.onload=function (){
		const modifyForm = document.getElementsByTagName('form')[0];
		const btn_modify = document.querySelector('.btn_modify');
		const resultPass = document.querySelector('.resultPass')
		const btnPass2 = document.querySelector('.pass2');

		//비밀번호 유효성 검사
		btnPass2.addEventListener('focusout', function (){
			const pass = document.querySelector('.userPass').value;
			const pass2 = document.querySelector('.pass2').value;

			if(!pass.match(rePass)){
				resultPass.innerText = "비밀번호가 유효하지 않습니다.";
				resultPass.style.color = 'red';
				return;
			}

			if(pass == pass2){
				resultPass.innerText = "비밀번호가 일치합니다.";
				resultPass.style.color = 'green';
				isPassOk = true;
			}else{
				resultPass.innerText = "비밀번호가 일치하지 않습니다.";
				resultPass.style.color = 'red';
				isPassOk = false;
			}
		});

		//비밀번호 수정
		btn_modify.addEventListener('click',async function (e){
			e.preventDefault();

			const uid = [[${user.userUid}]];
			const pass = document.querySelector('.userPass').value;

			// 비밀번호 유효성 검사 완료 여부
			if (!isPassOk) {
				alert('비밀번호가 유효하지 않습니다.');
				return;
			}

			const jsonData = {
				"userUid":uid,
				"userPass":pass
			}

			const data = await fetchPost('/userInfo/UserMyinfo',jsonData);

			console.log(data);
			if(data) {
				alert('비밀번호가 정상적으로 변경되었습니다.');
			}else{
				alert('비밀번호를 다시 확인해주세요.');
			}

			const passfeild = document.querySelector('.userPass');
			const pass2feild = document.querySelector('.pass2');

			passfeild.value = '';
			pass2feild.value = '';
			resultPass.innerText = '';

		});


		modifyForm.onsubmit = function () {

			// 이름 유효성 검사 완료 여부
			if (!isNameOk) {
				alert('이름이 유효하지 않습니다.');
				return false; // 폼 전송 취소
			}

			// 별명 유효성 검사 완료 여부
			if (!isNickOk) {
				alert('별명이 유효하지 않습니다.');
				return false; // 폼 전송 취소
			}

			// 이메일 유효성 검사 완료 여부
			if (!isEmailOk) {
				alert('이메일이 유효하지 않습니다.');
				return false; // 폼 전송 취소
			}

			// 휴대폰 유효성 검사 완료 여부
			if (!isHpOk) {
				alert('휴대폰 번호가 유효하지 않습니다.');
				return false; // 폼 전송 취소
			}

			return true; // 폼 전송
		}
	}
</script>

<link rel="stylesheet" th:href="@{/css/user/myinfo.css}">
<link rel="stylesheet" th:href="@{/css/common_myinfo_modify.css}">
<main>
	<div class="mainIn">
		<section class="infotable">
			<div class="sub_bg">
				<img th:src="@{/images/myinfo/myinfo_top_tit.png}" alt="MY INFO" class="sub_tit">
			</div><!-- .sub_bg -->

			<aside class="aside">
				<div class="sidebar">
					<div class="aside_cate">
						<img th:src="@{/images/myinfo/myinfo_menu_tit.png}" alt="Buying in the Market 장보기">
					</div><!-- .aside_cate -->
					<div class="aside_bg">
						<ul class="cate_lnb_real">
							<li> <a th:href="@{/userinfo/UserMyinfoCart}">장바구니</a></li>
							<li> <a th:href="@{/userinfo/UserMyinfoOrder}">주문정보</a></li>
							<li> <a th:href="@{/userinfo/UserMyinfo}">정보수정</a></li>
						</ul><!-- .cate_lnb -->
					</div><!-- .aside_bg -->
				</div><!-- .sidebar -->
			</aside><!-- .aside -->
			<article class="article">
				<div class="articleIn cf">
					<nav>
						<h2><img th:src="@{/images/myinfo/myinfo_nav_tit3.png}" alt="장보기"></h2>
						<p class="location">
							<img th:src="@{/images/sub_page_nav_ico.gif}" alt="메뉴">
							<span>HOME </span>
							<span>나의정보 </span>
							<strong>정보수정</strong>
						</p><!-- .location -->
					</nav>

					<div class="form">
						<span>회원정보 설정</span>
						<table>
							<tr>
								<th>아이디</th>
								<td><span>[[${user.userUid}]]</span></td>
							</tr>
							<tr>
								<th>비밀번호</th>
								<td>
									<div class="form_group">
										<input type="password" id="input_password" class="userPass" placeholder="비밀번호 입력">
										<span style="margin-left: 10px" class="resultPass"></span>
									</div>
								</td>
							</tr>
							<tr>
								<th>비밀번호 확인</th>
								<td>
									<div class="form_group">
										<input type="password" id="input_password_confirm" class="pass2" placeholder="비밀번호 입력확인">
										<button type="button" class="btn_modify"><p>비밀번호 수정</p></button>
									</div>
								</td>
							</tr>
							<tr>
								<th>회원가입날짜</th>
								<td><span>[[${user.userRegDate}]]</span></td>
							</tr>
						</table>
						<span>개인정보 수정</span>
						<form id="myForm" action="#" method="post" enctype="multipart/form-data">

							<table>
								<tr>
									<th>이름</th>
									<td class="form_group"><input type="text" id="input_name" name="userName" th:value="${user.userName}"></td>
								</tr>
								<tr>
									<th>별명</th>
									<td class="form_group">
										<ul>
											<li><p>공백없는 한글, 영문, 숫자 입력</p></li>
											<li>
												<input type="text" id="input nickname" name="userNick" th:value="${user.userNick}" >
												<button type="button" class="btn_duplicate" placeholder="별명 입력"> <img th:src="@{/images/user/chk_id.gif}" alt="Duplicate Check" class="icon"></button>
												<span class="resultNick"></span>
											</li>
										</ul>
									</td>
								</tr>
								<tr>
									<th>이메일</th>
									<td class="form_group">
										<input type="email" name="userEmail"  id="input email" th:value="${user.userEmail}" />
										<button type="button" id="btnSendEmail"  class="btn_send"><img th:src="@{/images/user/chk_auth.gif}" alt="인증번호 받기"/></button>
										<span class="resultEmail"></span>
										<div class="auth" style="display:none">
											<input type="text" name="auth" placeholder="인증번호 입력" />
											<button type="button" id="btnAuthEmail"  class="btn_auth" ><img th:src="@{/images/user/chk_confirm.gif}" alt="확인"/></button>
											<span class="resultEmail"></span>
										</div>
									</td>
								</tr>
								<tr>
									<th>휴대폰</th>
									<td class="form_group">
										<input type="tel" id="input tel" name="userHp" th:value="${user.userHp}">
									</td>
								</tr>
								<tr>
									<th>주소</th>
									<td class="form_group">
										<div class="address">
											<input type="text" name="userZip" id="zip" th:value="${user.userZip}" readonly/>
											<button type="button" class="btnZip" onclick="postcode()"> <img th:src="@{/images/user/chk_post.gif}" class="icon" alt="우편번호 버튼"></button><!--alt="Postal check"-->
										</div>
										<div class="address">
											<input type="text" id="addr1" class="input_address" name="userAddr1" th:value="${user.userAddr1}" readonly/>
										</div>
										<div class="address">
											<input type="text" id="addr2" class="input_address" name="userAddr2" th:value="${user.userAddr2}" />
										</div>
									</td>
								</tr>
								<tr>
									<th>회원탈퇴</th>
									<td class="form_group quit">
										<button type="button" class="btn_quit"><p>탈퇴하기</p></button>
									</td>
								</tr>
							</table>
									<div class="button_container">
										<button type="button" class="btn-cancel">취소</button>
										<button type="submit" class="btn_submit">회원정보 수정</button>
									</div>
								</form>
						   </div>
					   </div><!-- .articleIn -->
				   </article><!-- .article -->
            	</section>
            </div>
        </main>
<th:block th:include ="/user/User_footer.html"/>
<link rel="stylesheet" th:href="@{/css/footer.css}">
