<script src="/js/test.js" defer></script>
<th:block th:include="user/User_header.html"/>
<title>회원가입</title>
<script>
    const reUid   = /^[a-z]+[a-z0-9]{4,19}$/g;
    const rePass  = /^[a-z]+[a-z0-9]{4,19}$/g;
    //const rePass  = /^(?=.*[a-zA-Z])(?=.*[0-9])(?=.*[$`~!@$!%*#^?&\\(\\)\-_=+]).{5,16}$/;
    const reName  = /^[가-힣]{2,10}$/
    const reNick  = /^[a-zA-Zㄱ-힣0-9][a-zA-Zㄱ-힣0-9]*$/;
    const reEmail = /^[0-9a-zA-Z]([-_\.]?[0-9a-zA-Z])*@[0-9a-zA-Z]([-_\.]?[0-9a-zA-Z])*\.[a-zA-Z]{2,3}$/i;
    const reHp    = /^01(?:0|1|[6-9])-(?:\d{4})-\d{4}$/;


    window.onload=function (){


        const btnCheckUid = document.getElementById('btnCheckUid');
        const btnSendEmail = document.getElementById('btnSendEmail');
        const btnAuthEmail = document.getElementById('btnAuthEmail');
        const registerForm = document.getElementsByTagName('form')[0];
        const resultId = document.getElementsByClassName('resultId')[0];
        const resultPass = document.getElementsByClassName('resultPass')[0];
        const resultName = document.getElementsByClassName('resultName')[0];
        const resultNick = document.getElementsByClassName('resultNick')[0];
        const resultEmail = document.getElementsByClassName('resultEmail')[0];
        const resultHp = document.getElementsByClassName('resultHp')[0];
        const auth = document.getElementsByClassName('auth')[0];


        btnCheckUid.onclick = function() {

            const uid = registerForm.uid.value;

            //서버로 전달하기 전에 아이디 유효성 검사 진행
            if(!uid.match(reUid)){
                resultId.innerText = "아이디가 유효하지 않습니다."
                resultId.style.color = 'red';
                return;
            }

            /*
            //중복 체크
            fetch(''+uid)
                .then(resp => resp.json())
                .then(data => {
                    console.log(data);

                    const result = data.result;


                    if(result>0){
                        resultId.innerText = "이미 사용 중인 아이디입니다."
                        resultId.style.color = 'red';
                        isUidOk = false;
                    }else{
                        resultId.innerText = "사용할 수 있는 아이디입니다."
                        resultId.style.color = 'green';
                        isUidOk = true;
                    }

                })
                .catch(err => {
                    console.log(err);
                });
            */
        }


        //2. 비밀번호 유효성 검사

        const pass1 = registerForm.pass1.value;
        const pass2 = registerForm.pass2.value;

        registerForm.pass1.addEventListener('focusout', function() {

            if (!pass1.match(rePass)) {
                resultPass.innerText = "비밀번호가 유효하지 않습니다.";
                resultPass.style.color = 'red';
                return;
            }else{
                resultPass.innerText = "사용 가능한 비밀번호입니다.";
                resultPass.style.color = 'green';
            }
        });


        registerForm.pass2.addEventListener('focusout', function() {
            if (pass1 == pass2) {
                resultPass2.innerText = "비밀번호가 일치합니다.";
                resultPass2.style.color = 'green';
                isPassOk = true;
            } else {
                resultPass2.innerText = "비밀번호가 일치하지 않습니다.";
                resultPass2.style.color = 'red';
                isPassOk = false;
            }
        });

        //3. 이름 유효성 검사
        registerForm.name.addEventListener('focusout', function(){

            const name = registerForm.name.value;

            if(!name.match(reName)){
                resultName.innerText = "이름이 유효하지 않습니다."
                resultName.style.color = 'red';
                isNameOk = false;
            }else{
                resultName.innerText = "";
                isNameOk = true;
            }

        });

        //4. 별명 유효성 검사

        registerForm.nick.addEventListener('focusout', function(){

            const nick = registerForm.nick.value;

            //서버로 전달하기 전에 아이디 유효성 검사 진행
            if(!nick.match(reNick)){
                resultNick.innerText = "닉네임이 유효하지 않습니다."
                resultNick.style.color = 'red';
                return;
            }


            //중복 체크
            fetch(''+nick)
                .then(resp => resp.json())
                .then(data => {
                    console.log(data);

                    const result = data.result;


                    if(result>0){
                        resultNick.innerText = "이미 사용 중인 닉네임입니다."
                        resultNick.style.color = 'red';
                        isNickOk = false;
                    }else{
                        resultNick.innerText = "사용할 수 있는 닉네임입니다."
                        resultNick.style.color = 'green';
                        isNickOk = true;
                    }

                })
                .catch(err => {
                    console.log(err);
                });
        });



        //5. 이메일 유효성 검사
        let preventDblClick = false;

        btnSendEmail.onclick = async function(){

            const email = registerForm.email.value;

            //이중클릭 방지
            if(preventDblClick){
                return;
            }

            //이메일 유효성 검사
            if(!email.match(reEmail)){
                resultEmail.innerText = "유효한 이메일이 아닙니다."
                resultEmail.style.color = 'red';
                return;
            }

            try{
                preventDblClick = true;

                const response = await fetch(''+email);
                const data = await response.json();
                console.log(data);

                if(data.result > 0){
                    resultEmail.innerText = '이미 사용 중인 이메일입니다.';
                    resultEmail.style.color = 'red';
                    isEmailOk = false;
                }else{

                    resultEmail.innerText = '인증코드가 발송되었습니다.';
                    resultEmail.style.color = 'green';

                    auth.style.display = 'block';
                }

            }catch(e){
                console.log(e);
            }

        }

        btnAuthEmail.onclick = function(){

            const code = registerForm.auth.value;

            fetch('',{
                method: 'post',
                body: JSON.stringify({"code":code})
            })
                .then(resp => resp.json())
                .then(data => {
                    console.log(data);
                    if(data.result > 0){
                        resultEmail.innerText = '이메일이 인증되었습니다.';
                        resultEmail.style.color = 'green';
                        isEmailOk = true;
                    }else{

                        resultEmail.innerText = '유효한 인증코드가 아닙니다.';
                        resultEmail.style.color = 'red';

                        auth.style.display = 'block';
                        isEmailOk = false;
                    }

                })
                .catch(err => {
                    console.log(err);
                });

        }

        //6. 휴대폰 유효성 검사

        registerForm.hp.addEventListener('focusout', async function(){

            const hp = registerForm.hp.value;

            try {
                const response = await fetch(''+hp);
                const data = await response.json();

                if(data.result >0){
                    resultHp.innerText = '이미 사용 중인 휴대폰 번호입니다.';
                    resultHp.style.color = 'red';
                    isHpOk = false;
                }else{
                    resultHp.innerText = '';
                    isHpOk = true;
                }

            } catch (e) {
                console.log(err);
            }

        });

        //최종 폼 전송 유효성 검사
        registerForm.onsubmit = function(){
            //아이디 유효성 검사 완료 여부
            if(!isUidOk){
                alert('아이디가 유효하지 않습니다.');
                return false;
            }
            //비밀번호 유효성 검사 완료 여부
            if(!isPassOk){
                alert('비밀번호가 유효하지 않습니다.');
                return false;
            }
            //이름 유효성 검사 완료 여부
            if(!isNameOk){
                alert('이름이 유효하지 않습니다.');
                return false;
            }
            //별명 유효성 검사 완료 여부
            if(!isNickOk){
                alert('별명이 유효하지 않습니다.');
                return false;
            }
            //이메일 유효성 검사 완료 여부
            if(!isEmailOk){
                alert('이메일이 유효하지 않습니다.');
                return false;
            }
            //휴대폰 유효성 검사 완료 여부
            if(!isHpOk){
                alert('휴대폰 번호가 유효하지 않습니다.');
                return false;
            }
            return true;//폼 전송
        }
        document.addEventListener('DOMContentLoaded', addValidationListeners);

    }//onload
</script>

<!--<script th:src="@{//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js}"></script>-->

        <!-- main -->
        <main>
            <div class="mainIn">
                <section class="register">
                    <form action="#" method="post">
                        <table border="1">
                            <caption>사이트 이용정보 입력</caption>
                            <tr>
                                <td>아이디</td>
                                <td>
                                    <input type="text" name="uid" placeholder="아이디 입력"/>
                                    <button type="button" id="btnCheckUid"><img th:src="@{/images/user/chk_id.gif}" alt="" ></button>
                                    <span class="resultId"></span>
                                </td>
                            </tr>
                            <tr>
                                <td>비밀번호</td>
                                <td>
                                    <input type="password" name="pass1" placeholder="비밀번호 입력"/>
                                    <span class="resultPass"></span>
                                </td>
                            </tr>
                            <tr>
                                <td>비밀번호 확인</td>
                                <td>
                                    <input type="password" name="pass2" placeholder="비밀번호 확인 입력"/>
                                    <span class="resultPass2"></span>
                                </td>
                            </tr>
                        </table>
                        <table border="1">
                            <caption>개인정보 입력</caption>
                            <tr>
                                <td>이름</td>
                                <td>
                                    <input type="text" name="name" placeholder="이름 입력"/>
                                    <span class="resultName"></span>
                                </td>
                            </tr>
                            <tr>
                                <td>별명</td>
                                <td>
                                    <p>공백없이 한글, 영문, 숫자만 입력가능</p>
                                    <input type="text" name="nick" placeholder="별명 입력"/>
                                    <span class="resultNick"></span>
                                </td>
                            </tr>
                            <tr>
                                <td>E-Mail</td>
                                <td>
                                    <input type="email" name="email" placeholder="이메일 입력"/>
			                        <button type="button" id="btnSendEmail"><img th:src="@{/images/user/chk_auth.gif}" alt="인증번호 받기"/></button>
			                        <span class="resultEmail"></span>
			                        <div class="auth" style="display:none">
			                            <input type="text" name="auth" placeholder="인증번호 입력" />
			                            <button type="button" id="btnAuthEmail"  ><img th:src="@{/images/user/chk_confirm.gif}" alt="확인"/></button>
			                        </div>
                                </td>
                            </tr>
                            <tr>
                                <td>휴대폰</td>
                                <td>
                                    <input type="text" name="hp" placeholder="- 포함 13자리 입력" minlength="13" maxlength="13" />
                                    <span class="resultHp"></span>
                                </td>
                            </tr>
                            <tr>
                                <td>주소</td>
                                <td>
                                    <div>
                                        <input type="text" name="zip" id="zip" placeholder="우편번호" readonly/>
                                        <button type="button" class="btnZip" onclick="postcode()"><img th:src="@{/images/user/chk_post.gif}" alt=""></button>
                                    </div>
                                    <div>
                                        <input type="text" name="addr1" id="addr1" placeholder="주소를 검색하세요." readonly/>
                                    </div>
                                    <div>
                                        <input type="text" name="addr2" id="addr2" placeholder="상세주소를 입력하세요."/>
                                    </div>
                                </td>
                            </tr>
                        </table>

                        <div>
                            <a th:href="@{/}" class="btnCancel">취소</a>
                            <input type="submit" class="btnSubmit" value="회원가입"/>
                        </div>
                    </form>
                </section>
            </div>
        </main>  <!-- main end -->
<th:block th:include = "user/User_footer.html"/>
