<th:block th:include="user/User_header.html"/>
<title>회원가입::이용약관</title>
        <main>
            <div class="mainIn">
                <section class="terms">
                    <table>
                        <caption>사이트 이용약관</caption>
                        <tr>
                            <td>
                                <textarea readonly>${termsDto.terms}</textarea>
                                <p>
                                    <label><input type="checkbox" name="chk1" id="chk1"/>동의합니다.</label>
                                </p>
                            </td>
                        </tr>
                    </table>
                    <table>
                        <caption>개인정보 취급방침</caption>
                        <tr>
                            <td>
                                <textarea readonly>${termsDto.privacy}</textarea>
                                <p>
                                    <label><input type="checkbox" name="chk2" id="chk2"/>동의합니다.</label>
                                </p>
                            </td>
                        </tr>
                    </table>
                    <div>
                        <a th:href="@{/}" class="btnCancel">취소</a>
                        <a th:href="@{/user/UserRegister}" class="btnNext">다음</a>
                    </div>
                </section>
            </div>
        </main><!-- main end -->
<th:block th:include = "user/User_footer.html"/>
