<th:block th:include="user/User_header.html"/>
    <title>Login</title>

 
        <main>
            <div class="mainIn">
                <section class="login">
                    <form action="#" method="post">
                        <table border="0">
                            <tr>
                                <td><img th:src="@{/images/user/login_ico_id.png}" alt="아이디"></td>
                                <td><input type="text" name="uid" placeholder="아이디 입력"></td>
                            </tr>
                            <tr>
                                <td><img th:src="@{/images/user/login_ico_pw.png}" alt="비밀번호"></td>
                                <td><input type="password" name="pass" placeholder="비밀번호 입력"></td>
                            </tr>
                        </table>
                        <input type="submit" value="로그인" class="btnLogin">
                    </form>
                    <div>
                        <h3>회원 로그인 안내</h3>
                        <p>
                            아직 회원이 아니시면 회원으로 가입하세요.
                        </p>

                        <a th:href="@{/user/UserTerms}" class="join_mem">&nbsp회원가입</a>
                        <a th:href="@{/user/UserFindPass}">&nbsp비밀번호찾기</a>
                        <a th:href="@{/user/UserFindId}">아이디찾기</a>

                    </div>
                </section>
            </div>
        </main>

<th:block th:include = "user/User_footer.html"/>

