<th:block th:include="user/User_header.html"/>
<title>비밀번호 변경</title>
<link rel="stylesheet" th:href="@{/css/user/style_passwordchange.css}">
        <!-- 메인 -->
         <main>
            <section>
                <form action="#" method="post" enctype="multipart/form-data">
                    <h1>비밀번호 변경</h1>
                    <table class="passwordchange">
                        <tbody>
                            <tr>
                                <th>
                                    <label>아이디</label>
                                </th>
                                <td>
                                      <span>${uid }</span>
                                      <input type="hidden" value="${uid }" name="uid">
                                </td>
                            </tr>
                            <tr>
                                <th>
                                    <label>새 비밀번호</label>
                                </th>
                                <td>
                                    <input type="password" name="pass1" placeholder="비밀번호 입력"/> 
                                </td>
                            </tr>
                            <tr>
                                <th>
                                    <label>새 비밀번호 확인</label>
                                </th>
                                <td>
                                    <input type="password" name="pass2" placeholder="비밀번호 확인 입력"/>
	                             	<span class="resultPass"></span>
                                    
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <p>
                        비밀번호를 변경해 주세요.<br>
                        영문, 숫자, 특수문자를 사용하여 8자 이상 입력해 주세요.
                    </p>
                    <div>
                        <a th:href="@{/user/UserLogin}" class="cancel-button">취소</a>
                        <button type="submit" class="next-button">
                            <span>다음</span>
                        </button>
                    </div>
                </form>
            </section>
        </main>

    <th:block th:include = "user/User_footer.html"/>