<th:block th:include ="/admin/Admin_header.html"/>
<div class="section list">
    <section>
        <div class="main_container">
            <div class="main_top"><span>상품목록</span></div>
            <div class="status_table" id="productList">
                <table class="product">
                    <thead>
                    <tr>
                        <th><input type="checkbox" name="product_list_checkbox" class="check"></th>
                        <th>사진</th>
                        <th>상품번호</th>
                        <th>상품명</th>
                        <th>구분</th>
                        <th>가격</th>
                        <th>재고</th>
                        <th>등록일</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:if="${products ==null }">
                        <td colspan="9" style="width: 100%;">등록된 상품이 없습니다.</td>
                    </tr>
                    <tr th:each="product:${products}" th:if="product != null">
                        <td><input type="checkbox" name="product_list_checkbox" id="plcheck" value="${product.pNo}"></td>
                        <!--                            <c:choose>-->
                        <!--					            <c:when test="${product.sName == null}">-->
                        <td><img src="/FarmStory/images/no_image.jpg" alt="no image" width="60" height="60" /></td>
                        <!--					            </c:when>-->
                        <!--					            <c:otherwise>-->
                        <td><img src="/FarmStory/thumbs/product/${product.sName }" alt="${product.pName}" width="60" height="60" /></td>
                        <!--					            </c:otherwise>-->
                        <!--					        </c:choose>-->
                        <!-- <td><img src="../images/sample_item1.jpg" id="product_img1" alt="샘플 이미지"></td> -->
                        <td>${product.pNo}</td>
                        <td>${product.pName}</td>
                        <td>${product.prodCateName}</td>
                        <td>원</td>
                        <!--                        <td><fmt:formatNumber value="${product.price}" pattern="#,###"/>원</td>-->
                        <td>${product.stock}</td>
                        <td>${product.rdate}</td>
                    </tr>
                    <!--                    </c:forEach>-->
                    </tbody>
                </table>
                <div class="btn_group">
                    <a href="#"  class="deletebtn">선택삭제</a>
                    <a th:href="@{/admin/product/ProductRegister.html}"  class="insertbtn">상품등록</a>
                </div><!--btn_group end-->


                <div class="pages">
                    <ul>
                        <!--                	<c:if test="${pageGroup.start > 1}">-->
                        <li><a href="#" class="prev">이전</a></li>
                        <!--                   	<li><a href="/FarmStory/admin/product/list.do?pg=${pageGroup.start-1}" class="prev">이전</a></li>-->
                        <!--                    </c:if>-->
                        <!--                    <c:forEach var="i" begin="${pageGroup.start}" end="${pageGroup.end}">-->
                        <li><a href="#" class="num ${currentPage == i ? 'current':'off'}">${i}</a></li>
                        <!--                   	<li><a href="/FarmStory/admin/product/list.do?pg=${i}" class="num ${currentPage == i ? 'current':'off'}">${i}</a></li>-->
                        <!--                    </c:forEach>-->
                        <!--                    <c:if test="${pageGroup.end < lastPageNum}">-->
                        <li><a href="#" class="next">다음</a></li>
                        <!--                   	<li><a href="/FarmStory/admin/product/list.do?pg=${pageGroup.end+1}" class="next">다음</a></li>-->
                        <!--                    </c:if>-->
                    </ul>
                </div>

            </div><!--status-table end-->


        </div><!--main-container-->
    </section><!-- section end-->
</div><!-- .section end-->

</div><!--mainIn-->
</main><!--main end-->
<th:block th:include ="/admin/Admin_footer.html"/>