<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>글쓰기</title>
    <link rel="sssashortcut icon" href="/images/fav.ico" type="image/x-icon">
    <link rel="stylesheet" th:href="@{/css/community.css}">
    <!-- 화면당 적용할 CSS만 추가하면됨 -->
</head>
<body>
<div id="wrapper">
    <th:block th:include ="/grid/_header.html"/>

                <section class="write">
                	<h3>글쓰기</h3>
                	<article>
                    <form action="/FarmStory/community/notice/write.do" method="post" enctype="multipart/form-data">
                    	<input type="hidden" name="b_writer" value="${sessUser.uid}">
                        <table>
                            <tr>
                                <td>제목</td>
                                <input type="hidden" name="b_cateNo" value="${cate}"/>
                                <input type="hidden" name="group" value="${group}"/>
                                <td><input type="text" name="title" placeholder="제목을 입력하세요."/></td>
                            </tr>
                            <tr>
                                <td>내용</td>
                                <td>
                                    <textarea name="b_contents"></textarea>                                
                                </td>
                            </tr>
                            <tr>
                                <td>첨부</td>
                                <td>
                               		<p style="margin-bottom: 6px; ">
                                		최대 2개 파일 첨부 가능, 각 파일당 최대 10MB 까지 업로드
                                	</p>
                                	<input type="file" name="file1"/>
                                	<input type="file" name="file2"/>
                                </td>
                            </tr>
                        </table>
                        <div>
<!--                            <a href="/FarmStory/community/notice/list.do?group=${group}&cate=${cate}" class="btnCancel">취소</a>-->

                            <!-- 원래 페이지로 돌아갈 수 있도록 개발 해야함  -->
                            <a th:href="@{/community/CommunityNotice}" class="btnCancel">취소</a>
                            <input type="submit"  class="btnWrite" value="작성완료">
                        </div>
                    </form>
                </article>
            </section>
                    </div><!-- .articleIn -->
                </article><!-- .article -->
            </section>
        </main><!-- #main -->
<th:block th:include ="/grid/_footer.html"/>
</div><!-- warapper end -->
</body>
</html>

