<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>글쓰기</title>
<link rel="sssashortcut icon" href="/images/fav.ico" type="image/x-icon">
<link rel="stylesheet" th:href="@{/css/community.css}">
    <link rel="stylesheet" th:href="@{/css/croptalk.css}">
<!--<c:choose>-->
<!--	<c:when test="${group eq 'croptalk'}">-->
<!--		<%@ include file="../../_aside_ct.jsp" %>-->
<!--		<link rel="stylesheet" th:href="@{/css/croptalk.css}">-->
<!--	</c:when>-->
<!--	<c:when test="${group eq 'event'}">-->
<!--		<%@ include file="../../_aside_et.jsp" %>-->
<!--		<link rel="stylesheet" href="../../css/event.css">-->
<!--	</c:when>-->
<!--	<c:otherwise><%@ include file="../../_aside_cm.jsp" %></c:otherwise>-->
<!--</c:choose>-->
</head>
<body>
    <div id="container">
    <th:block th:include ="/grid/_header.html"/>
    <th:block th:include ="/grid/_aside_ct.html"/>

                <section class="write">
                	<h3>글쓰기</h3>
                	<article>
                    <form action="/community/notice/write.do" method="post" enctype="multipart/form-data">
                    	<input type="hidden" name="b_writer" value="${sessUser.uid}">
                        <table>
                            <tr>
                                <td>제목</td>
                                <input type="hidden" name="b_cateNo" value="${cate}"/>
                                <input type="hidden" name="group" value="${group}"/>
                                <td><input type="text" name="title" placeholder="제목을 입력하세요."/></td>
                            </tr>
                            <tr>
                                <td>내용</td>
                                <td>
                                    <textarea name="b_contents"></textarea>                                
                                </td>
                            </tr>
                            <tr>
                                <td>첨부</td>
                                <td>
                               		<p style="margin-bottom: 6px; ">
                                		최대 2개 파일 첨부 가능, 각 파일당 최대 10MB 까지 업로드
                                	</p>
                                	<input type="file" name="file1"/>
                                	<input type="file" name="file2"/>
                                </td>
                            </tr>
                        </table>
                        <div>
                            <a href="/community/notice/list.do?group=${group}&cate=${cate}" class="btnCancel">취소</a>
                            <input type="submit"  class="btnWrite" value="작성완료">
                        </div>
                    </form>
                </article>
            </section>
                    </div><!-- .articleIn -->
                </article><!-- .article -->
            </section>
        </main><!-- #main -->
<th:block th:include ="/grid/_footer.html"/>