<th:block th:include ="/grid/_header.html"/>
<title>주문하기</title>
<link rel="stylesheet" th:href="@{/css/order.css}">
<!--<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>-->

<!-- #main -->
<main id="main" class="cf">
    <section class="mainIn cf">
        <div class="sub_bg">
            <img th:src="@{/images/sub_top_tit2.png}" alt="MARKET" class="sub_tit">
        </div><!-- .sub_bg -->
        <aside class="aside">
            <div class="sidebar">
                <div class="aside_cate">
                    <img th:src="@{/images/sub_aside_cate2_tit.png}" alt="Buying in the Market 장보기">
                </div><!-- .aside_cate -->
                <div class="aside_bg">
                    <ul class="cate_lnb_real">
                        <li> <a href="#">장보기</a></li>
                    </ul><!-- .cate_lnb -->
                </div><!-- .aside_bg -->
            </div><!-- .sidebar -->
        </aside><!-- .aside -->
        <article class="article">
            <div class="articleIn cf">
                <nav>
                    <h2><img th:src="@{/images/sub_nav_tit_cate2_tit1.png}" alt="장보기"></h2>
                    <p class="location">
                        <img th:src="@{/images/sub_page_nav_ico.gif}" alt="메뉴">
                        <span>HOME </span>
                        <span>장보기 </span>
                        <strong>장보기</strong>
                    </p><!-- .location -->
                </nav>

                <h3 class="tb_tit">주문상춤 전체</h3><!-- .tb_tit -->
                <table class="tb1">
                    <colgroup>
                        <col style="width: 10%">
                        <col style="width: 12%">
                        <col style="width: 28%">
                        <col style="width: 10%">
                        <col style="width: 10%">
                        <col style="width: 10%">
                        <col style="width: 10%">
                        <col style="width: 10%">
                    </colgroup>
                    <tr>
                        <th>이미지</th>
                        <th>종류</th>
                        <th>상품명</th>
                        <th>수량</th>
                        <th>할인</th>
                        <th>포인트</th>
                        <th>가격</th>
                        <th>소계</th>
                    </tr>
                    <tr th:if="${prodCartDto == null}">
                        <td colspan="10" class="td_first">장바구니에 상품이 없습니다.</td>
                    </tr>
                    <tr th:each="prodCartDto:${prodCartDto}" th:if="${prodCartDto == null}">
                        <td><img src="#" alt="사과 샘플"/></td>
                        <td>${prodCartDto.prodCateName}</td>
                        <td>${prodCartDto.prodName}</td>
                        <td>${prodCartDto.prodQty}</td>
                        <td>${prodCartDto.discount}%</td>
                        <td>${prodCartDto.point}p</td>
                        <td>${prodCartDto.price}</td>
                        <td><strong>${service.total(prodCartDto)}</strong>원</td>
                    </tr>
                    </c:forEach>
                </table><!-- .tb1 -->


                <div class="order_info cf">
                    <h4 class="order_tit">주문정보 입력</h4>
                    <table class="order_tb cf">
                        <colgroup>
                            <col style="width: 23.52%">
                            <col style="width: 76.48%">
                        </colgroup>
                        <tr>
                            <th>주문자</th>
                            <td>
                                <input type="text" class="uid" placeholder="0" readonly>
                            </td>
                        </tr>
                        <tr>
                            <th>휴대폰</th>
                            <td>
                                <input type="text" class="hp" placeholder="0" readonly>
                            </td>
                        </tr>
                        <tr class="use cf">
                            <th>포인트사용</th>
                            <td class="use_point cf">
                                <input type="text" class="point" placeholder="0p 만큼 사용 가능합니다.">
                                <a href="#" class="point_btn">사용하기</a><br>
                                <div></div>
                            </td>
                        </tr>
                        <tr>
                            <th>받는분</th>
                            <td><input type="text" class="recepit"  placeholder=""></td>
                        </tr>
                        <tr>
                            <th>연락처</th>
                            <td><input type="text" class="rec_hp" placeholder=""></td>
                        </tr>
                        <tr>
                            <th class="delivery_addr">배송주소</th>
                            <td class="cf">
                                <input type="text" name="zip" id="zip" class="post_sch" placeholder="우편번호" title="우편번호 검색칸"  readonly/>
                                <a href="#" class="btnZip" onclick="postcode()"><img th:src="@{/images/user/btn_post_search.gif}" alt="우편번호 검색" class="post_sch_btn"></a>
                                <input type="text" class="addr1" id="addr1" placeholder="기본주소 검색">
                                <input type="text" class="addr2" id="addr2" placeholder="상세주소 입력">

                            </td>
                        </tr>
                        <tr>
                            <th>결제방법</th>
                            <td class="chkboxes" >
                                <input type="radio" name="pay" id="check" value="1"><label for="check"></label>
                                계좌이체
                                <input type="radio" name="pay" class="" placeholder="" value="2">신용카드
                                <input type="radio" name="pay" class="" placeholder="" value="3">체크카드
                                <input type="radio" name="pay" class="" placeholder="" value="4">휴대폰
                            </td>
                        </tr>
                        <tr>
                            <th >기타</th>
                            <td ><input type="textarea" placeholder="" class="etc"></td>
                        </tr>
                    </table>
                </div> <!-- .order_info -->

                <div class="order_final cf">
                    <table class="tb2">
                        <tr>
                            <th colspan="2">전체합계</th>
                        </tr>
                        <tr>
                            <td>상품수</td>
                            <td>0개</td>
                        </tr>
                        <tr>
                            <td>상품금액</td>
                            <td>0원</td>
                        </tr>
                        <tr>
                            <td>할인금액</td>
                            <td>0원</td>
                        </tr>
                        <tr>
                            <td>포인트 사용</td>
                            <td id="pointUse">0p</td>
                        </tr>
                        <tr>
                            <td>배송비</td>
                            <td>0원</td>
                        </tr>
                        <tr>
                            <td>포인트 적립</td>
                            <td>0p</td>
                        </tr>
                        <tr>
                            <td>전체주문금액</td>
                            <td>0원</td>
                        </tr>
                    </table><!-- .tb2 -->
                    <button class="btn_order"><a href="#">주문하기</a></button>

                    <form id="formData">
                        <input type="hidden" name="uid" value="${userDto.uid}" id="uid">
                        <input type="hidden" name="recepit" value="" id="recepit">
                        <input type="hidden" name="recHp" value="" id="recHp">
                        <input type="hidden" name="recZip" value="" id="recZip">
                        <input type="hidden" name="recAddr1" value="" id="recAddr1">
                        <input type="hidden" name="recAddr2" value="" id="recAddr2">
                        <input type="hidden" name="payment" value="" id="payment">
                        <input type="hidden" name="orderDesc" value="" id="orderDesc">
                    </form>

                </div><!-- .order_final -->

            </div><!-- .articleIn -->
        </article><!-- .article -->
    </section>
</main><!-- #main -->
<th:block th:include ="/grid/_footer.html"/>